*{
    margin: 0px;
    padding: 0px;
}
.cover {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to top, rgba(26,40,120,0.70), rgba(10,143,196,0.70));
    
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer {
        flex: 0 0 auto; 
        color: wheat;
        text-align: left;   
    }
}
